openapi: 3.0.0
info:
  title: API PFS
  description: |-
    API para la generación y consulta de Guías de Crédito

    # Alcances y limitantes

      - Consultar información del Cliente
      - Consultar cobertura por CP, retornando información sobre tipo de servicios y costos extra
      - Cotizar por charola general, charola de cliente y por medidas (Abierto)
      - Realizar y consultar Envios
      - Consultar Estatus de una guía en específico
      - Obtener Acuse de Entrega de una guía en específico
      - Obtener la etiqueta de envío para su impresión
  termsOfService: https://portal.fletesdelsur.com/?s=terminos-condiciones
  contact:
    email: web@fletesdelsur.com
    url: https://fletesdelsur.com
  version: 1.0.1
servers:
  - url: https://ap1.pfsmx.app/api/v1
tags:
  - name: Autentificación
    description: Se requiere un Token de Autentificación Bearer obtenido del Portal de Crédito de PFS. Este Token se deberá agregar en un Header para su autorización.
  - name: Perfil
    description: Operaciones acerca de la cuenta de Crédito.
  - name: Cobertura
    description: Operaciones acerca de la cobertura en un Código Postal.
  - name: Cotizador
    description: Operaciones acerca del Cotizador.
  - name: Envíos
    description: Operaciones acerca de Envíos.
  - name: Firma
    description: Operaciones acerca de firma de comprobante de entrega.
  - name: Imprimibles
    description: Operaciones acerca de las etiquetas de enviós
paths:
  /imprimible/guia/{guia}:
    get:
      tags:
        - Imprimibles
      summary: Obtener la etiqueta de envío
      description: Obtener la etiqueta de envío
      operationId: getEtiqueta
      parameters:
        - name: guia
          in: path
          description: Guía
          required: true
          example: 2980731
          schema:
            type: string
      responses:
        '200':
          description: Consulta exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documento'
        '401':
          description: Error de autentificación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Auth'
      security:
        - Authorization: []
  /firma/{UUID}:
    get:
      tags:
        - Firma
      summary: Obtener la firma de un envío entregado
      description: Obtener la firma de un envío entregado
      operationId: getFirma
      parameters:
        - name: UUID
          in: path
          description: Guía
          required: true
          example: 55F3A53B-21BD-4D86-B0CA-2DC7BC209E2D
          schema:
            type: string
        - name: tipo
          in: query
          description: Tipo de resultado
          required: true
          example: base64
          schema:
            type: string
      responses:
        '200':
          description: Consulta exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firma'
        '401':
          description: Error de autentificación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Auth'
      security:
        - Authorization: []
  /envio:
    post:
      tags:
        - Envíos
      summary: Realiza la documentación de un envío
      description: Realiza la documentación de un envío, en el caso que se use 'Confirmacion true', se nececitará confirmar el envío. Si se usa 'Confirmacion false', retornará la guía
      operationId: postCotizador
      requestBody:
        description: Created user object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Envio_Post'
      responses:
        '201':
          description: Respuesta de Envío con Confirmación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envio_Confirmacion'     
        '200':
          description: Respuesta de Envío sin Confirmación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envio_Sin_Confirmacion' 
        '401':
          description: Error de autentificación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Auth'  
      security:
        - Authorization: []  
    get:
      tags:
        - Envíos
      summary: Regresa la información correspondiente de los envíos con los criterios ingresados
      description: Regresa la información correspondiente de los envíos con los criterios ingresados
      operationId: getEnviofecha
      parameters:
        - name: fecha_ini
          in: query
          description: Guía
          required: true
          example: 2023-05-01
          schema:
            type: string
        - name: fecha_fin
          in: query
          description: Guía
          required: true
          example: 2023-05-31
          schema:
            type: string
        - name: page
          in: query
          description: Guía
          required: true
          example: 0
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'          
        '401':
          description: Error de autentificación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Auth'  
      security:
        - Authorization: []

  /envio/{id}:
    delete:
      tags:
        - Envíos
      summary: Elimina un envío sin confirmar
      description: Elimina un envío sin confirmar
      operationId: deleteCotizador
      parameters:
        - name: id
          in: path
          description: Idenfificador de guía
          required: true
          schema:
            type: integer
      responses:
        '410':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvioCancelado'          
        '401':
          description: Error de autentificación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Auth'  
      security:
        - Authorization: [] 
    put:
      tags:
        - Envíos
      summary: Confirma el envío y retorna la guía
      description: Confirma el envío y retorna la guía en el caso de que se realizará con 'Confirmacion true',
      operationId: putCotizador
      parameters:
        - name: id
          in: path
          description: Idenfificador de guía
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envio_Sin_Confirmacion' 
        '401':
          description: Error de autentificación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Auth'  
      security:
        - Authorization: [] 
    get:
        tags:
          - Envíos
        summary: Regresa la información correspondiente al envío
        description: Regresa la información correspondiente al envío
        operationId: getEnvio
        parameters:
          - name: id
            in: path
            description: Guía
            required: true
            schema:
              type: integer
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Profile'          
          '401':
            description: Error de autentificación
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_Auth'  
        security:
          - Authorization: []
  /profile:
    get:
      tags:
        - Perfil
      summary: Regresa la información correspondiente a la cuenta de crédito
      description: Regresa la información correspondiente a la cuenta de crédito
      operationId: getInventory
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          description: Error de autentificación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Auth'  
      security:
        - Authorization: []
  /cobertura/{cp}:
    get:
      tags:
        - Cobertura
      summary: Regresa la información correspondiente al Código Postal ingresado
      description: Regresa la información correspondiente al Código Postal ingresado
      operationId: getCobertura
      parameters:
        - name: cp
          in: path
          description: Código Postal
          required: true
          example: 60190
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cobertura'          
        '401':
          description: Error de autentificación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Auth'  
      security:
        - Authorization: []
        
        
  /cotizador:
    get:
      tags:
        - Cotizador
      summary: Regresa la información de la charola de precios general
      description: Regresa la información de la charola de precios general
      operationId: getCotizador
      parameters:
        - name: filtro
          in: query
          description: Filtro de charola
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RCotizador'          
        '401':
          description: Error de autentificación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Auth'  
      security:
        - Authorization: []     
        
    post:
      tags:
        - Cotizador
      summary: Regresa la información ingresando cantidad y medidas
      description: Regresa la información ingresando cantidad y medidas
      operationId: postCotizadorf
      requestBody:
        description: Created user object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cotizador'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RCotizadorA'
        '401':
          description: Error de autentificación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Auth'  
      security:
        - Authorization: []  
        

  /cotizador/{politica_venta}:
    get:
      tags:
        - Cotizador
      summary: Regresa la información de la charola correspondiente al cliente
      description: Regresa la información de la charola correspondiente al cliente
      operationId: getCotizadorpol
      parameters:
        - name: politica_venta
          in: path
          description: Politica de Venta
          required: true
          schema:
            type: integer
        - name: filtro
          in: query
          description: Filtro de charola
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RCotizador'          
        '401':
          description: Error de autentificación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Auth'  
      security:
        - Authorization: []
   

components:
  schemas:
    Direccion:
      type: object
      properties:
        Calle:
          type: string
          example: JURHIATA
        NumExt:
          type: string
          example: 5
        NumInt:
          type: string
          example:
        CP:
          type: integer
          format: int64
          example: 60190 
        IdentificadorColonia:
          type: integer
          format: int64
          example: 74560
      xml:
        name: address
    Envio:
      type: object
      properties:
        Tipo:
          type: string
          example: CREDITO-API
        Confirmacion:
          type: boolean
          example: true
        Servicio:
          type: string
          example: DOM
        Recoleccion:
          type: boolean
          example: false
        Seguro:
          type: boolean
          example: true
        CantidadPaquetes:
          type: integer
          format: int64
          example: 1
        Observaciones:
          type: string
          example: Observaciones Prueba
        Paquetes:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/Paquete'
      xml:
        name: envio
    Rangos:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/Rango'

    Rango:
      type: object
      properties:
        IdentificadorRango:
          type: integer
          format: int64
          example: 1250
        Rango:
          type: string
          example: APARATOS DE EJERCICIO
        Importe:
          type: number
          example: 3448.2700
        Largo:
          type: number
          example: 180
        Alto:
          type: number
          example: 180
        Ancho:
          type: number
          example: 180
        Peso:
          type: number
          example: 100
      xml:
        name: paquete

    Paquete:
      type: object
      properties:
        IdentificadorRango:
          type: integer
          format: int64
          example: 0
        Cantidad:
          type: integer
          format: int64
          example: 1
        Largo:
          type: number
          example: 30.0
        Alto:
          type: number
          example: 20.0
        Ancho:
          type: number
          example: 15.0
        PesoUnitario:
          type: number
          example: 3.0
        Contenido:
          type: string
          example: Zapatos
        ClaveProductoSAT:
          type: string
          example: "01010101"
        ClaveUnidadSAT:
          type: string
          example: X4G
        ValorDeclaradoUnitario:
          type: number
          example: 1.0
      xml:
        name: paquete
    Colonias:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/Colonia'
    Colonia:
      type: object
      properties:
        Identificador:
          type: integer
          format: int64
          example: 74555
        Colonia:
          type: string
          example: Zumpimito
        EntregaDomicilio:
          type: boolean
          example: true
        CostoExtra:
          type: number
          example: 0.0
        EntregaOtraPaqueteria:
          type: boolean
          example: false
      xml:
        name: colonia
    Remitente:
      type: object
      properties:
        Cliente:
          type: integer
          format: int64
          example: -1
        Nombre:
          type: string
          example: JUAN ALBERTO MIRELES MADRIGAL
        Rfc:
          type: string
          example: MIMJ9109018J1
        Telefono:
          type: string
          example: 4521125002
        Mail:
          type: string
          example: zorek.bd@gmail.com
        Direccion:
          $ref: '#/components/schemas/Direccion'
      xml:
        name: remitente
    Destinatario:
      type: object
      properties:
        Cliente:
          type: integer
          format: int64
          example: -1
        Nombre:
          type: string
          example: JUAN ALBERTO MIRELES MADRIGAL
        Rfc:
          type: string
          example: MIMJ9109018J1
        Telefono:
          type: string
          example: 4521125002
        Mail:
          type: string
          example: zorek.bd@gmail.com
        Direccion:
          $ref: '#/components/schemas/Direccion'
      xml:
        name: destinatario
    Profile:
      type: object
      properties:
        CLIENTE:
          type: integer
          format: int64
          example: 55017
        RAZON_SOCIAL:
          type: string
          example: EMPRESA DEMO
        ST_PERS_FISICA:
          type: boolean
          example: false
        NOMBRES:
          type: string
          example: JORGE
        PATERNO:
          type: string
          example: CENDEJAS
        MATERNO:
          type: string
          example: FLORES
        RFC:
          type: string
          example: PFS030605UN7
        REGIMEN_FISCAL:
          type: string
          example: 601
        CALLE:
          type: string
          example: REVOLUCION
        NUMERO:
          type: string
          example: 83
        NOEXT:
          type: string
          example: 
        CP:
          type: integer
          format: int64
          example: 61760
        COLONIA:
          type: string
          example: LIBERTAD
        MUNICIPIO:
          type: string
          example: MúGICA
        ESTADO:
          type: string
          example: MICHOACáN DE OCAMPO
        TELEFONO:
          type: string
          example: 4521000473
        MAIL:
          type: string
          example: jcendejas@fletesdelsur.com
        POLITICA_VENTA:
          type: integer
          format: int64
          example: 0
        ST_COBRAR_DOM:
          type: boolean
          example: true
        ST_COBRAR_FXC:
          type: boolean
          example: true
        ST_COBRAR_EXTENDIDA:
          type: boolean
          example: true


    Firma:
      type: object
      properties:
        Firma:
          type: string
          example: iVBORw0KGgoAAAANSUhEUgAAAfQAAAEkCAYAAADZ6MOlAAAAAXNSR0IArs4c6QAAAARzQklUCAgICHwIZIgAABleSURBVHic7d1rcFT...
    Documento:
      type: object
      properties:
        Documento:
          type: string
          example: iVBORw0KGgoAAAANSUhEUgAAAfQAAAEkCAYAAADZ6MOlAAAAAXNSR0IArs4c6QAAAARzQklUCAgICHwIZIgAABleSURBVHic7d1rcFT...
    Error_Auth:
      type: object
      properties:
        Message:
          type: string
          example: Error de autentificación


    EnvioCancelado:
      type: object
      properties:
        Message:
          type: string
          example: Envío cancelado correctamente







    Cotizador:
      type: object
      properties:
        Cantidad:
          type: integer
          format: int64
          example: 1
        Largo:
          type: number
          example: 30.0
        Alto:
          type: number
          example: 20.0
        Ancho:
          type: number
          example: 15.0
        Peso:
          type: number
          example: 3.0

    Envio_Post:
      type: object
      properties:
        Envio:
          $ref: '#/components/schemas/Envio'
        Paquetes:
          $ref: '#/components/schemas/Paquetes'
        Remitente:
          $ref: '#/components/schemas/Remitente'
        Destinatario:
          $ref: '#/components/schemas/Destinatario'

    Cobertura:
      type: object
      properties:
        Cobertura:
          type: boolean
          example: true
        Municipio:
          type: string
          example: Uruapan
        Estado:
          type: string
          example: Michoacán de Ocampo
        Destino_Recibe:
          type: string
          example: URUAPAN, MICH.
        Oficina_Recibe:
          type: string
          example: URUAPAN AMERICAS
        FXC:
          type: boolean
          example: true
        Ocurre:
          type: boolean
          example: true
        Colonias:
          $ref: '#/components/schemas/Colonias'

    RCotizador:
      type: object
      properties:
        Politica:
          type: string
          example: GENERAL
        Rangos:
          $ref: '#/components/schemas/Rangos'

    RCotizadorA:
      type: object
      properties:
        Cantidad:
          type: integer
          format: int64
          example: 1
        Costo:
          type: number
          example: 136.50
        KilosRango:
          type: number
          example: 12.5
        KilosExtra:
          type: number
          example: 0
        CostoKiloExtra:
          type: number
          example: 7
        ImporteKilosExtra:
          type: number
          example: 0
        Subtotal:
          type: number
          example: 136.5
        Importe:
          type: number
          example: 136.5
        Obs:
          type: string
          example: El Importe no incluye I.V.A.

    Envio_Confirmacion:
      type: object
      properties:
        id:
          type: string
          example: 88DFBE7A-C60C-4926-9CE7-476D0B3FAD3A
        Subtotal:
          type: number
          example: 646.5
        IVA:
          type: number
          example: 103.44
        Retencion:
          type: number
          example: 0
        Total:
          type: number
          example: 749.94
        Seguro:
          type: number
          example: 20
        Flete:
          type: number
          example: 526.5
        RecDom:
          type: number
          example: 50
        EntDom:
          type: number
          example: 50
        Saldo:
          type: number
          example: 749.94
    Envio_Sin_Confirmacion:
      type: object
      properties:
        Guia:
          type: number
          example: 2969249
  securitySchemes:
    Authorization:            # arbitrary name for the security scheme
      type: http
      scheme: bearer